$('#question-<%= @question.id %>').remove();

// Updating flash
var success = $('<div>', {
  'class': 'alert success',
  'text':  '<%= j flash[:success] %>'
});
$('.flash').html(success);


<% if Question.none? %>
  var empty = '<div><p>Nobody has asked anything yet!</p></div>';
  $('.questions').html(empty);
<% end %>
