$('#errors').remove();

var answers = $('.answers tbody');

if (!answers.length) {
  $('.answers').html('<table><tbody></tbody></table>');
  answers = $('.answers tbody');
}

answers.append('<%= j render @answer %>');

// Updating flash
var message = $('<div>', {
  'class': 'alert success',
  'text':  '<%= j flash[:success] %>'
});
$('.flash').html(message);

// Clear Answer form
$('#answer_body').val('');
