$('#answer-<%= @answer.id %>').remove();

// Updating flash
var success = $('<div>', {
  'class': 'alert success',
  'text':  '<%= j flash[:success] %>'
});
$('.flash').html(success);


<% if @question.answers.empty? %>
  var empty = '<div><p>Nobody has given any answer yet!</p></div>';
  $('.answers').html(empty);
<% end %>
